<html>
<head>
    <title> <%= title %> </title>
</head>
<body>
    <h1> Playground </h1>

    <ul>
        <% for(let i = 0; i<6; i++){ %>
            <li>
                <!-- = is needed for variable not for keyword  -->
                <%= i %>  
            </li>
        <% } %>   <!-- cloasing bracket  -->

        <!-- if else -->
        <% if(true){ %>
            <h1> It's true</h1>
        <% } else { %>  
            <h1>It's false</h1>
         <% } %>   
    </ul>
</body>
</html>